.liamdnd-container
{
	background-color: black;
	height:200px;
	width:100%;
	margin-top: -42px;
	padding-top: 21px;

	.preview-area, .widget-area
	{
		display: inline-block;
		float: left;
		background-color:white;
		min-height:100%;
		max-height: 100%;
	}

	.preview-area
	{
		width:65%;
		border-right: 1px solid darken(#fff, 15%);
		overflow:auto;
		overflow-x:hidden;

		.drop-area-wrapper
		{
			border:2px solid #2C3E50;
			min-height:30px;
			margin-top: 10px;
			position: relative;

			.drop-area-wrapper-title
			{
				font-size: 10px;
				font-weight: bold;
				position:absolute;
				background: #2C3E50;
				color: white;
				padding: 5px;
				left:-2px;
				top:0px;
			}
		}

		.can-edit
		{
			position: relative;

			&:hover
			{
				& > .action-button
				{
					display:block;
				}
			}

			& > .action-button
			{
				position:absolute;
				top:0px;
				left: 0px;
				background: rgba(0,0,0,0.7);
				padding: 5px 10px;
				color: white;
				display:none;
				border-radius: 4px;

				.fa
				{
					margin-right: 15px;
					font-size:16px;
					cursor: pointer;

					&.fa-bars
					{
						cursor:move;
					}

					&:last-child
					{
						margin-right:0px;
					}
				}
			}
		}
	}

	.widget-area
	{
		width:35%;
		overflow:auto;

		.widget-editor
		{
			display:none;
			padding-bottom:20px;
		}
	}

	.ui-resizable-e
	{
		width:14px;
	}
}

.hidden-block-container
{
	display:none;
}