.campaign-option
{
	list-style: none;
	padding:0px;
	margin:0px;
	li
	{
		display: inline-block;

		a
		{
			display:inline-block;
			color:$gray-light;
			min-height: 125px;
			min-width: 300px;
			max-width: 300px;
			border: 2px dashed;
			border-radius: 5px;
			padding:15px;
			margin: 15px;
			&:hover{
				text-decoration: none;
				color:$brand-primary;
				border-color: $brand-primary;
			}
		}

		.option-title
		{
			font-size: 22px;
			font-weight: 300;
		}
	}
}