.circular-bar{
  text-align: center;
  .circular-bar-content{
    margin-bottom: 70px;
    margin-top: -95px;
    text-align: center;
    strong{
      display: block;
      font-weight: 600;
      font-size: 18px;
    }
    label{
      display: block;
      font-weight: 300;
      font-size: 15px;
    }
  }
}