label.image-radio > input{ /* HIDE RADIO */
  display:none;
}
label.image-radio > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px dashed $gray-light;
  border-radius: 4px;
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
label.image-radio > input:checked + img{ /* (CHECKED) IMAGE STYLES */
  border:2px dashed $brand-primary;
  filter: none;
  -webkit-filter: grayscale(0);
}