html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

/* Login Page Design */
#login-background
{
	background: $brand-primary; /* Old browsers */
}

#dashboard-background
{
	background: #F2F4F8; /* Old browsers */
}