.navbar-wifimu
{
	border-radius: 0px;
	border-bottom: $gray-lighter 1px solid;
	background-color:$wifimu-primary-color;

	.navbar-toggle {
    	border-color: darken($wifimu-primary-color, 5%);
    	.icon-bar {
    	    background-color: #fff;
    	}
	}

	li > a:hover, li > a:focus
	{
		background-color:darken($wifimu-primary-color, 5%);
	}

	// .dropdown-menu
	// {
	// 	li > a:hover, li > a:focus
	// 	{
	// 		background-color:$gray-lighter;
	// 	}
	// }

	.open > a, .open > a:hover, .open > a:focus
	{
		background-color:darken($wifimu-primary-color, 10%);
	}

	.dropdown-menu a
	{
		color:#333;
	}

	li > a {
	    color:$gray-lighter;
	    opacity: .8;
	    padding-top:20px;
		padding-bottom:20px;
	}

	.dropdown-menu a
	{
		padding-top: 5px;
		padding-bottom: 5px;
	}

	li.active
	{
		position: relative;
		background-color:darken($wifimu-primary-color, 5%);
	}
}