$size: 0;
@while $size < 55{
  .mt#{$size}{
      margin-top:#{$size}px !important;
  }
  .mr#{$size}{
      margin-right:#{$size}px !important;
  }
  .ml#{$size}{
      margin-left:#{$size}px !important;
  }
  .mb#{$size}{
      margin-bottom:#{$size}px !important;
  }

  .pt#{$size}{
      padding-top:#{$size}px !important;
  }
  .pr#{$size}{
      padding-right:#{$size}px !important;
  }
  .pl#{$size}{
      padding-left:#{$size}px !important;
  }
  .pb#{$size}{
      padding-bottom:#{$size}px !important;
  }
  $size: $size + 5
}