@import url(http://fonts.googleapis.com/css?family=Oswald);
.status .panel-title {
    font-size: 42px;
    font-weight: bold;
    line-height: 25px;
    padding-top: 10px;
    letter-spacing: -0.8px;
}