@import url(//fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap"; //http://getbootstrap.com
@import "../vendor/bootswatch/bootswatch"; //https://github.com/thomaspark/bootswatch/
@import "../vendor/font-awesome/scss/font-awesome";
@import "../vendor/Ionicons/scss/ionicons";
@import "../vendor/bootstrap-social/bootstrap-social.scss"; /*http://lipis.github.io/bootstrap-social/*/
@import "../vendor/titatoggle/dist/titatoggle-dist.scss"; /*http://kleinejan.github.io/titatoggle/#intro*/
@import "../vendor/summernote/dist/summernote.scss"; /*http://summernote.org/getting-started/#installation*/
@import "../vendor/animate.css/animate.scss"; /*https://daneden.github.io/animate.css/*/
@import "../vendor/select2/src/scss/core.scss"; /*https://daneden.github.io/animate.css/*/
@import "../vendor/select2-bootstrap-theme/src/select2-bootstrap.scss"; /*https://daneden.github.io/animate.css/*/
@import "../vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.scss"; /*http://bootstrap-datepicker.readthedocs.org/en/stable/*/
@import "../vendor/placecomplete/jquery.placecomplete.scss"; /*http://bootstrap-datepicker.readthedocs.org/en/stable/*/
@import "../vendor/jquery-toast-plugin/dist/jquery.toast.min.scss"; /*http://bootstrap-datepicker.readthedocs.org/en/stable/*/
@import "../vendor/jquery-dayparts/css/jquery.dayparts.scss"; /*https://github.com/mcuznz/jquery.dayparts*/

// Reset and dependencies
@import "bootstrap/variables";

// Core CSS
@import "bootstrap/layout";

// Components
@import "bootstrap/navbar";
@import "bootstrap/campaign-option";
@import "bootstrap/form-radio-image";
@import "bootstrap/circular-bar";
@import "bootstrap/status-panel";
@import "bootstrap/button-outline";
@import "bootstrap/colorpicker";

// Components w/ JavaScript

// Utility classes
@import "bootstrap/ultility";
@import "bootstrap/padding-margin";


@import "layout/liamdnd";


.note-group-select-from-files {
    display:none;
}

.remail-drag-drop-highlight
{
    height: 3px;
    width: 100%;
    background-color: $brand-info;
    margin-top: 20px;
    margin-bottom: 20px;
    position:relative;

    &:before
    {
        width: 70px;
        content: "Drop Here";
        margin-left: 0px;
        margin-right: 0px;
        background-color: $brand-info;
        padding: 2px;
        color: white;
        top: -10px;
        font-size: 11px;
        font-weight: bold;
        text-align: center;
        border-radius: 5px;
        margin: auto;
        left: 0px;
        right: 0px;
        position: absolute;
    }
}