@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap"; //http://getbootstrap.com
@import "../vendor/bootswatch/bootswatch"; //https://github.com/thomaspark/bootswatch/
@import "../vendor/font-awesome/scss/font-awesome";
@import "../vendor/bootstrap-social/bootstrap-social.scss"; /*http://lipis.github.io/bootstrap-social/*/
@import "../vendor/titatoggle/dist/titatoggle-dist.scss"; /*http://kleinejan.github.io/titatoggle/#intro*/
@import "../vendor/summernote/dist/summernote.scss"; /*http://summernote.org/getting-started/#installation*/
@import "../vendor/animate.css/animate.scss"; /*https://daneden.github.io/animate.css/*/
@import "../vendor/select2/src/scss/core.scss"; /*https://daneden.github.io/animate.css/*/
@import "../vendor/select2-bootstrap-theme/src/select2-bootstrap.scss"; /*https://daneden.github.io/animate.css/*/
@import "../vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.scss"; /*http://bootstrap-datepicker.readthedocs.org/en/stable/*/
@import "../vendor/placecomplete/jquery.placecomplete.scss"; /*http://bootstrap-datepicker.readthedocs.org/en/stable/*/

// Reset and dependencies
@import "bootstrap/variables";

// Core CSS
@import "bootstrap/layout";

// Components
@import "bootstrap/navbar";
@import "bootstrap/campaign-option";
@import "bootstrap/form-radio-image";
@import "bootstrap/circular-bar";
@import "bootstrap/status-panel";
@import "bootstrap/button-outline";

// Components w/ JavaScript

// Utility classes
@import "bootstrap/ultility";
@import "bootstrap/padding-margin";

/* Login Template */
.splash-background-cover{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 32%, rgba(0,0,0,0.7) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 32%,rgba(0,0,0,0.7) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 32%,rgba(0,0,0,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 );

	height: 100%;
	min-height: 100%;
	position: relative;

	.align-bottom
	{
		position:absolute;
		bottom:0px;
		left: 0px;
		right: 0px;
		margin-left: auto;
		margin-right: auto;
		overflow: auto;
		max-height: 100%;

		.login-page-logo
		{
			max-width:100%;
			max-height:175px;
		}

		.wifimu-credit
		{
			font-size: 13px;
		}
	}
}


.text-shadow
{
	text-shadow:0 2px 3px rgba(0,0,0,.4);
}

.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
  display: none !important;
}